.allTrips{
    width: 80%;
    margin: 50px 10%;
    padding-bottom: 30px;
    border-bottom: 1px #ccc solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;  
    flex-wrap: wrap;
}

.cartDiv{
    border: 1px #ccc solid;
    text-align: left;
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}
.cartText{
    margin: 2px;
}

h2{
    text-decoration: underline;
}

.toggled{
    background-color: #9ec1d1;
}

.hideBtn{
    display: none;
}

.deleteBtn{
    margin-left: 10px;
}